In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
jtplot.figsize()
import pandas as pd
import numpy as np

In [2]:
# used to ignore all the warnings encountered while coding (not recommended)
# import warnings
# warnings.filterwarnings('ignore')

In [3]:
# importing the dataset
heartDisease = pd.read_csv('../data/13.1 heart-disease.csv.csv')

In [4]:
heartDisease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
# Create X (Feature Matrix)
x = heartDisease.drop('target', axis = 1)
# Create Y (label)
y = heartDisease['target']

In [6]:
x,y

(     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
 0     63    1   3       145   233    1        0      150      0      2.3
 1     37    1   2       130   250    0        1      187      0      3.5
 2     41    0   1       130   204    0        0      172      0      1.4
 3     56    1   1       120   236    0        1      178      0      0.8
 4     57    0   0       120   354    0        1      163      1      0.6
 ..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
 298   57    0   0       140   241    0        1      123      1      0.2
 299   45    1   3       110   264    0        1      132      0      1.2
 300   68    1   0       144   193    1        1      141      0      3.4
 301   57    1   0       130   131    0        1      115      1      1.2
 302   57    0   1       130   236    0        0      174      0      0.0

      slope  ca  thal
 0        0   0     1
 1        0   0     2
 2        2   0     2
 3        2   0     2
 4        2   0     2
 ..     ...  ..   ...
 298      1   0     3
 299      1   0     3
 300      1   2     3
 301      1   1     3
 302      1   1     2

 [303 rows x 13 columns], 0      1
 1      1
 2      1
 3      1
 4      1
       ..
 298    0
 299    0
 300    0
 301    0
 302    0
 Name: target, Length: 303, dtype: int64)

In [7]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# we'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [8]:
# 3. Fit the model to the training DataSet
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2)

In [9]:
clf.fit(xTrain, yTrain);

In [10]:
xTrain

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
69,62,0,0,124,209,0,1,163,0,0.0,2,0,2
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2
181,65,0,0,150,225,0,0,114,0,1.0,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3
35,46,0,2,142,177,0,0,160,1,1.4,0,0,2
84,42,0,0,102,265,0,0,122,0,0.6,1,0,2
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
217,63,1,0,130,330,1,0,132,1,1.8,2,3,3

In [11]:
xTest

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
262,53,1,0,123,282,0,1,95,1,2.0,1,2,3
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3
199,65,1,0,110,248,0,0,158,0,0.6,2,2,1
67,45,0,1,130,234,0,0,175,0,0.6,1,0,2
115,37,0,2,120,215,0,1,170,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,45,1,0,104,208,0,0,148,1,3.0,1,0,2
141,43,1,0,115,303,0,1,181,0,1.2,1,0,2
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2

In [12]:
# making predictions on the test data 
yPreds = clf.predict(xTest)
yPreds

array([0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1])

In [13]:
yTest

262    0
236    0
199    0
67     1
115    1
      ..
42     1
141    1
286    0
50     1
65     1
Name: target, Length: 61, dtype: int64

In [14]:
# 4. Evaluate the model on the training data and the test data
clf.score(xTrain, yTrain)

1.0

In [15]:
clf.score(xTest, yTest)

0.8524590163934426

In [16]:
# more ways of evaluating our model's performance 
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [17]:
print(classification_report(yTest, yPreds))

              precision    recall  f1-score   support

           0       0.87      0.77      0.82        26
           1       0.84      0.91      0.88        35

    accuracy                           0.85        61
   macro avg       0.86      0.84      0.85        61
weighted avg       0.85      0.85      0.85        61

In [18]:
(confusion_matrix(yTest, yPreds))

array([[20,  6],
       [ 3, 32]])

In [19]:
accuracy_score(yTest, yPreds)

0.8524590163934426

In [20]:
# Improve the model (Important)
# Trying different amount of n_estimators
np.random.seed(69)
for i in range(10, 110, 10):
    print(f'trying the model with {i} estimators..')
    clf = RandomForestClassifier(n_estimators = i).fit(xTrain, yTrain)
    print(f'MOdel accuracy on the Test Split: {clf.score(xTest, yTest) * 100:.3f}%')
    print('')

trying the model with 10 estimators..
MOdel accuracy on the Test Split: 78.689%

trying the model with 20 estimators..
MOdel accuracy on the Test Split: 80.328%

trying the model with 30 estimators..
MOdel accuracy on the Test Split: 83.607%

trying the model with 40 estimators..
MOdel accuracy on the Test Split: 83.607%

trying the model with 50 estimators..
MOdel accuracy on the Test Split: 83.607%

trying the model with 60 estimators..
MOdel accuracy on the Test Split: 83.607%

trying the model with 70 estimators..
MOdel accuracy on the Test Split: 83.607%

trying the model with 80 estimators..
MOdel accuracy on the Test Split: 83.607%

trying the model with 90 estimators..
MOdel accuracy on the Test Split: 83.607%

trying the model with 100 estimators..
MOdel accuracy on the Test Split: 81.967%

In [21]:
# so after checking the best tweek:
clf = RandomForestClassifier(n_estimators = 40).fit(xTrain, yTrain)

In [22]:
clf.score(xTest, yTest)

0.819672131147541

In [23]:
# 6. Save a model and load it..
import pickle
pickle.dump(clf, open('randomForestModel1.pkl', 'wb'))

In [24]:
# importing and using the saved model
loadedModel = pickle.load(open('randomForestModel1.pkl', 'rb'))
loadedModel.score(xTest, yTest)

0.819672131147541

In [25]:
import sklearn
sklearn.__version__

'0.22.2.post1'

# STEP 1 (Getting data ready)

1. Getting our data ready to be used with machine learning
Three main things we have to do:

1. Split the data into features and labels (usually `X` & `y`)
2. Filling (also called imputing) or disregarding missing values
3. Converting non-numerical values to numerical values (also called feature encoding)

In [26]:
heartDisease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [27]:
x = heartDisease.drop('target', axis = 1)
y = heartDisease['target']

In [28]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, train_size = 0.8)

In [29]:
xTrain

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2
150,66,1,0,160,228,0,0,138,0,2.3,2,0,1
230,47,1,2,108,243,0,1,152,0,0.0,2,0,2
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,42,0,0,102,265,0,0,122,0,0.6,1,0,2
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
174,60,1,0,130,206,0,0,132,1,2.4,1,2,3

# 1.1 Make sure it's All NUMERICAL

In [30]:
carSales = pd.read_csv('../pandas/car-sales-extended-missing-data.csv')

In [31]:
len(carSales)

1000

In [32]:
carSales.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object

In [33]:
x = carSales.drop('Price', axis = 1)
y = carSales['Price']

#split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2)

In [34]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
# model.fit(xTrain, yTrain)
# model.score(xTrain, yTrain )

## the above error is due to non numeric data in Make, colours field , so

In [35]:
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[1000 rows x 4 columns]

In [36]:
# turn the categories into numbers
# method 1
from sklearn.preprocessing import  OneHotEncoder
from sklearn.compose import ColumnTransformer

categoricalFeatures = ['Make', 'Colour', 'Doors']
oneHot = OneHotEncoder()
transformer = ColumnTransformer( transformers = [('oneHot', 
                                 oneHot, 
                                 categoricalFeatures)],
                                 remainder = 'passthrough')

transformed_x = transformer.fit_transform(x)
transformed_x
'''this gives error right now as there are some Null values in the x dataFrame'''

ValueError: Input contains NaN

In [37]:
# turn the categories into numbers
# method 2 (easier way of getting shit done)
dummyX = pd.get_dummies(x, columns = categoricalFeatures)

In [38]:
dummyX

,Odometer (KM),Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White,Doors_3.0,Doors_4.0,Doors_5.0
0,35431.0,0,1,0,0,0,0,0,0,1,0,1,0
1,192714.0,1,0,0,0,0,1,0,0,0,0,0,1
2,84714.0,0,1,0,0,0,0,0,0,1,0,1,0
3,154365.0,0,0,0,1,0,0,0,0,1,0,1,0
4,181577.0,0,0,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35820.0,0,0,0,1,1,0,0,0,0,0,1,0
996,155144.0,0,0,0,0,0,0,0,0,1,1,0,0
997,66604.0,0,0,1,0,0,1,0,0,0,0,1,0
998,215883.0,0,1,0,0,0,0,0,0,1,0,1,0
999,248360.0,0,0,0,1,0,1,0,0,0,0,1,0

In [39]:
# let's refit the model with all the numeric values
np.random.seed(45)
xTrain, xTest, yTrain, yTest = train_test_split(dummyX, y, test_size = 0.2)

In [40]:
xTrain

,Odometer (KM),Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White,Doors_3.0,Doors_4.0,Doors_5.0
791,198923.0,0,0,1,0,0,0,0,0,1,0,1,0
143,41554.0,0,0,1,0,0,1,0,0,0,0,1,0
880,200219.0,0,1,0,0,0,1,0,0,0,0,1,0
339,65435.0,0,0,0,1,0,0,0,1,0,0,1,0
992,54721.0,0,1,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,27788.0,0,1,0,0,1,0,0,0,0,0,1,0
892,181466.0,0,0,0,1,0,1,0,0,0,0,0,0
643,213344.0,0,0,0,1,0,1,0,0,0,0,1,0
414,193006.0,0,0,0,1,0,0,0,1,0,0,1,0
971,178164.0,1,0,0,0,1,0,0,0,0,1,0,0

In [87]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
'''Now still we cannot fit the data into our model because there are some Null values in the dataFrame xTrain
    and untill and unless we fill thoose NULL values we\'ll get error executing the below lines!'''
# model.fit(xTrain, yTrain)
# model.score(xTrain, yTrain )

"Now still we cannot fit the data into our model because there are some Null values in the dataFrame xTrain\n    and untill and unless we fill thoose NULL values we'll get error executing the below lines!"

In [49]:
xTrain

,Odometer (KM),Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White,Doors_3.0,Doors_4.0,Doors_5.0
791,198923.0,0,0,1,0,0,0,0,0,1,0,1,0
143,41554.0,0,0,1,0,0,1,0,0,0,0,1,0
880,200219.0,0,1,0,0,0,1,0,0,0,0,1,0
339,65435.0,0,0,0,1,0,0,0,1,0,0,1,0
992,54721.0,0,1,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,27788.0,0,1,0,0,1,0,0,0,0,0,1,0
892,181466.0,0,0,0,1,0,1,0,0,0,0,0,0
643,213344.0,0,0,0,1,0,1,0,0,0,0,1,0
414,193006.0,0,0,0,1,0,0,0,1,0,0,1,0
971,178164.0,1,0,0,0,1,0,0,0,0,1,0,0

In [75]:
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[1000 rows x 4 columns]

In [73]:
x[x.isnull().any(axis=1)] # null values in x DataFrame

       Make Colour  Odometer (KM)  Doors
7     Honda  White            NaN    4.0
8       NaN  White       130538.0    4.0
13      NaN  White       134181.0    4.0
20   Toyota    NaN       124844.0    4.0
21    Honda    NaN        30615.0    4.0
..      ...    ...            ...    ...
974     NaN  White       155383.0    4.0
975   Honda    NaN        22409.0    4.0
983  Toyota    Red            NaN    4.0
985     NaN   Blue       216250.0    4.0
996     NaN  White       155144.0    3.0

[186 rows x 4 columns]

In [72]:
xTrain[xTrain.isnull().any(axis=1)] # null values in xTrain DataFrame

,Odometer (KM),Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White,Doors_3.0,Doors_4.0,Doors_5.0
313,NaN,1,0,0,0,0,0,0,0,0,0,0,1
503,NaN,0,0,0,1,0,1,0,0,0,0,1,0
276,NaN,0,1,0,0,0,0,0,0,0,0,1,0
393,NaN,0,0,0,1,0,1,0,0,0,0,1,0
645,NaN,0,0,0,1,0,1,0,0,0,0,1,0
357,NaN,0,0,1,0,0,0,0,0,1,0,1,0
896,NaN,0,0,0,1,0,0,1,0,0,0,1,0
468,NaN,0,0,0,1,0,0,0,0,1,0,1,0
562,NaN,0,0,0,1,0,0,0,0,1,0,1,0
478,NaN,0,0,1,0,0,1,0,0,0,0,1,0
668,NaN,0,0,1,0,0,0,0,1,0,0,1,0
209,NaN,0,1,0,0,0,0,0,0,1,0,1,0
767,NaN,0,0,1,0,0,0,0,1,0,0,1,0
753,NaN,1,0,0,0,0,1,0,0,0,1,0,0
864,NaN,0,1,0,0,0,0,0,0,1,0,1,0
960,NaN,0,1,0,0,0,0,0,0,1,0,1,0
129,NaN,0,0,0,1,0,0,0,0,1,0,1,0
72,NaN,0,1,0,0,0,0,0,0,1,0,1,0
141,NaN,0,0,0,1,0,0,0,0,1,0,1,0
252,NaN,0,1,0,0,0,0,0,0,0,0,1,0
178,NaN,0,1,0,0,0,0,0,0,1,0,1,0
925,NaN,0,0,0,0,0,0,1,0,0,0,1,0
907,NaN,1,0,0,0,0,0,0,1,0,0,0,1
972,NaN,0,1,0,0,0,0,0,0,1,0,1,0
235,NaN,0,0,0,1,0,0,1,0,0,0,1,0
37,NaN,0,0,1,0,0,0,0,0,1,0,1,0
86,NaN,0,0,1,0,0,1,0,0,0,0,1,0
390,NaN,0,0,0,1,0,0,0,0,1,0,1,0
254,NaN,0,0,1,0,0,1,0,0,0,0,1,0
983,NaN,0,0,0,1,0,0,0,1,0,0,1,0
7,NaN,0,1,0,0,0,0,0,0,1,0,1,0
508,NaN,0,0,1,0,0,0,0,1,0,0,1,0
144,NaN,1,0,0,0,0,1,0,0,0,0,0,1
316,NaN,0,0,0,1,0,0,0,0,1,0,1,0
319,NaN,0,0,1,0,0,0,0,0,1,1,0,0
715,NaN,0,0,0,1,0,0,0,0,1,0,1,0
490,NaN,0,0,0,0,0,0,0,0,1,0,1,0
908,NaN,0,0,1,0,0,0,0,0,1,1,0,0
215,NaN,1,0,0,0,0,0,0,0,1,0,0,1
398,NaN,0,0,0,1,0,0,0,0,1,0,1,0
580,NaN,0,0,1,0,0,0,0,1,0,0,1,0

In [68]:
print(xTrain.isnull().sum()) # prints 41 i.e there are 41 null values in xTrain

Odometer (KM)    41
Make_BMW          0
Make_Honda        0
Make_Nissan       0
Make_Toyota       0
Colour_Black      0
Colour_Blue       0
Colour_Green      0
Colour_Red        0
Colour_White      0
Doors_3.0         0
Doors_4.0         0
Doors_5.0         0
dtype: int64

In [77]:
# replacing the null data with mean values!
# using dummyX dataFrame to fill the null values
dummyX['Odometer (KM)'].fillna(dummyX['Odometer (KM)'].mean(), inplace = True)

In [79]:
dummyX.isnull().sum() # No null data inany of the columns hence :

Odometer (KM)    0
Make_BMW         0
Make_Honda       0
Make_Nissan      0
Make_Toyota      0
Colour_Black     0
Colour_Blue      0
Colour_Green     0
Colour_Red       0
Colour_White     0
Doors_3.0        0
Doors_4.0        0
Doors_5.0        0
dtype: int64

In [100]:
# let's again refit the model with the numeric values:
np.random.seed(45)
xTrain, xTest, yTrain, yTest = train_test_split(dummyX, y, test_size = 0.2)

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

model.fit(xTrain, yTrain)
xTrain.isna().any()

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [107]:
# df[~df.isin([np.nan, np.inf, -np.inf]).any(1)]
dummyX[~dummyX.isin([np.nan, np.inf, -np.inf]).any(1)]

,Odometer (KM),Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White,Doors_3.0,Doors_4.0,Doors_5.0
0,35431.0,0,1,0,0,0,0,0,0,1,0,1,0
1,192714.0,1,0,0,0,0,1,0,0,0,0,0,1
2,84714.0,0,1,0,0,0,0,0,0,1,0,1,0
3,154365.0,0,0,0,1,0,0,0,0,1,0,1,0
4,181577.0,0,0,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,35820.0,0,0,0,1,1,0,0,0,0,0,1,0
996,155144.0,0,0,0,0,0,0,0,0,1,1,0,0
997,66604.0,0,0,1,0,0,1,0,0,0,0,1,0
998,215883.0,0,1,0,0,0,0,0,0,1,0,1,0
999,248360.0,0,0,0,1,0,1,0,0,0,0,1,0

In [105]:
dummyX.isna().sum()

Odometer (KM)    0
Make_BMW         0
Make_Honda       0
Make_Nissan      0
Make_Toyota      0
Colour_Black     0
Colour_Blue      0
Colour_Green     0
Colour_Red       0
Colour_White     0
Doors_3.0        0
Doors_4.0        0
Doors_5.0        0
dtype: int64

In [108]:
np.random.seed(45)
xTrain, xTest, yTrain, yTest = train_test_split(dummyX, y, test_size = 0.2)

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

model.fit(xTrain, yTrain)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

# So afer trying everything this weird error is still there :(
ValueError: Input contains NaN, infinity or a value too large for dtype('float64').
**Now Changing the DataFrame to non-missing**

In [109]:
carSales = pd.read_csv('../data/car-sales-extended.csv')

In [118]:
carSales.isnull().sum() # checking for any missing data

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [122]:
x = carSales.drop('Price', axis = 1)
y = carSales['Price']

In [127]:
# Method1 for encoding
categoricalFeatures = ['Make', 'Colour', 'Doors']
dummyX = pd.get_dummies(x, columns = categoricalFeatures)

In [129]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(dummyX, y, test_size = 0.2)

In [130]:
xTrain

,Odometer (KM),Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White,Doors_3,Doors_4,Doors_5
5,42652,0,1,0,0,0,0,0,1,0,0,1,0
492,66150,0,0,0,1,0,0,0,0,1,0,1,0
316,64158,0,0,0,1,0,0,0,0,1,0,1,0
257,128235,0,0,1,0,0,0,0,1,0,0,1,0
677,117907,0,1,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,150582,0,1,0,0,0,0,0,0,1,0,1,0
783,140913,0,0,0,1,1,0,0,0,0,0,1,0
656,63501,0,0,0,1,0,1,0,0,0,0,1,0
356,96363,0,0,0,1,0,1,0,0,0,0,1,0
532,224410,0,0,1,0,0,1,0,0,0,0,1,0

In [132]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(xTrain, yTrain)
model.score(xTrain, yTrain)

0.8906372423414929

In [133]:
model.score(xTest, yTest)

0.27948778820863673